body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/binding_dark.png") 0 0;
  color: #fffdec;
  font: 16px;
  line-height: 1.5;
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

header {
  width: 100%;
  border-bottom: 1px dashed #bada55;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

footer {
  width: 100%;
  padding: 20px 0;
  margin: 40px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  color: #bada55;
  font-weight: normal;
  color: #bada55;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

h3 {
	font-size: 18px;
}

#main_content {
  width: 100%;
}

a {
  color: inherit;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px dotted #bada55;
}

a:hover {
  color: #bada55;
}
